@font-face {
    font-family: 'DepartureMono';
    src: url('../fonts/DepartureMono-1.500/DepartureMono-Regular.woff2') format('woff2'),
        url('../fonts/DepartureMono-1.500/DepartureMono-Regular.woff') format('woff');
}

:root {
    --fontMono: 'DepartureMono';
    /* --radius: 12px; */
    --gutter-inline: clamp(16px, 4vw, 40px);
    --font-family: "Inter", sans-serif;
    --fontTerminal: 'Courier New', monospace;
    --section-gap: 3rem;
    --max-width: 800px;
    --accent-red: #ff5656;
    --accent-green: #00ff26;
    --border-color: #fff;
    --border-color2: #000;
    --border-color3: #333;
    --bg-color: #fffced;
    --bg-color2: #fff;
    --bg-color3: #000;
    --bg-color4: #333;
    --text-color: #fff;
    --text-color2: #000;
}