footer {
    /* background: rgba(126, 126, 126, 0.092); */
    background: transparent;

    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: row;
    padding: auto;
    justify-content: space-evenly;
    font-size: small;
    transition: 0.6s ease-in-out;
    border-top: 2px solid rgb(0, 0, 0);
    overflow-x: hidden;
}

.left-footer,
.middle-footer,
.right-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    transition: 0.6s ease-in-out;
}

.middle-footer,
.right-footer {
    border-left: 2px solid rgb(0, 0, 0);
    padding-left: 10px;
}

.left-footer {
    width: 20%;
}

.middle-footer {
    width: 20%;
    font-family: var(--fontMono);
}

.right-footer {
    font-family: var(--fontMono);
    color: rgb(0, 0, 0);
}

.right-footer p {
    padding: 10px;
    text-align: center;
}

.right-footer a {
    text-decoration: none;
    transition: 0.6s ease-in-out;
    color: rgb(255, 99, 99);
}

.links-footer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.green-button-footer {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: 0.6s ease-in-out;
    margin: 5px;
    background-color: #00FF26;
    border: 1px solid rgba(159, 159, 159, 0.464);
}

#hour-footer {
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.6s ease-in-out;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(159, 159, 159, 0.464);
}

@media (max-width:1024px) {
    footer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: .8rem;
    }

    .left-footer,
    .middle-footer,
    .right-footer {
        width: 100%;
        justify-content: center;
        margin: 4px 0;
        padding-block: 4px;
        border: none;
    }

    .middle-footer,
    .right-footer {
        border-left: none;
    }
}