html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--fontMono);
  /* background-image: url(../../images/noise-bg.png); */
  background: #fffced;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #222;
}

.main-centered {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-inline: var(--gutter-inline);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-centered > section {
  width: 100%;
  margin-bottom: var(--section-gap);
}


@media (max-width: 1024px) {
  .main-centered {
    padding-inline: min(4vw, 20px);
  }
  .main-centered > section {
    margin-bottom: calc(var(--section-gap) * 0.7);
  }
}