html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--fontMono);
  /* background-image: url(../../images/noise-bg.png); */
  background: #fffced;
  /* background: #000000; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #222;
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b239d7aeb290a31ac5_cursor-default%402x.svg") 2 0, auto;
  /* cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b212e6b71494aa67ff_cursor-pointer%402x.svg") 2, 0, pointer; */
}
body a,
body button{
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b212e6b71494aa67ff_cursor-pointer%402x.svg") 2, 0, pointer;
}

.main-centered {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-inline: var(--gutter-inline);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-centered>section {
  width: 100%;
  margin-bottom: var(--section-gap);
}


@media (max-width: 1024px) {
  .main-centered {
    padding-inline: min(4vw, 20px);
  }

  .main-centered>section {
    margin-bottom: calc(var(--section-gap) * 0.7);
  }
}