.left-side-titres {
    gap: 5px;
    /* font-family: "Inter", sans-serif; */
}

.left-side h1 {
    font-size: 3.5rem;
    margin-bottom: 4px;
}

.left-side h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.left-side h2 a {
    text-decoration: underline;
    font-style: italic;
    color: rgb(255, 144, 144);
    transition: 0.5s ease-in-out;
}

.left-side h2 a:hover {
    color: rgb(255, 0, 0);
}

.left-side h3 {
    font-size: 1.4rem;
    color: rgb(255, 0, 0);
    min-width: 250px; 
    display: inline-block;
}

@media (max-width:1024px){
  .left-side h1{font-size:2.4rem;}
  .left-side h2{font-size:1.2rem;}
  .left-side h3{font-size:1rem;min-width:auto;}
}