.bio {
    margin: 30px;
    padding: 10px 10%;
    transition: 0.5s ease-in-out;
}

.bio-titre {
    font-size: xx-large;
    max-width: 100%;
    margin-bottom: 20px;
}

.bio-text {
    text-align: justify;
    font-family: var(--fontMono);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    transition: 0.5s ease-in-out;
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
}

.bio-text strong {
    color: rgb(255, 0, 0);
    font-weight: 500;
    font-style: italic;
}