.projects {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 10px 10%;
}

.projects-slide {
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-x: scroll;
    padding: 20px 0;
    margin-top: 20px;
    gap: 30px;
}

.projects-card {
    width: 350px;
    height: 440px;
    border: 1px solid rgba(184, 184, 184, 0.311);
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
}

.projects-card:hover {
    border: 1px solid rgba(255, 0, 0, 0.342);
    transform: scale(1.01);
    box-shadow: 1px 1px rgba(255, 0, 0, 0.314);
}

.projects-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.projects-links button {
    display: flex;
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: large;
    align-items: center;
    justify-content: center;
}

.projects-links button a i {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}

.projects-links button a i:hover {
    color: rgb(255, 0, 0);
}

.projects-links button a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.projects-img {
    margin: 20px;
    width: 300px;
    height: 145px;
}

.projects-img img {
    width: 100%;
    height: 100%;
}

.projects-description {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 300px;
}

.projects-stack {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    justify-content: start;
    align-items: center;
    margin-right: 4px;
    width: 20%;
    background-color: black;
}

.projects-stack p {
    font-size: xx-small;
    font-style: italic;
    padding: 10px;
    text-align: center;
    text-transform: lowercase;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.projects-stack p:hover {
    color: rgb(142, 142, 142);
}

.projects-text {
    margin-left: 5%;
    width: 80%;
    height: auto;
}

.projects-text p {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: x-small;
    text-align: justify;
    overflow: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.pagination-cube {
    width: 10px;
    height: 10px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-cube.active {
    background-color: red;
}

.bouton-all-projects {
    width: 50%;
    text-align: left;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid rgba(134, 134, 134, 0.111);
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bouton-all-projects:hover {
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 99, 99);
}

/* Scrollbar */
.projects-slide {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 0, 0);
}

.projects-slide::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.projects-slide::-webkit-scrollbar-track {
    background: #E0E0E0;
    border-radius: 10px;
}

.projects-slide::-webkit-scrollbar-thumb {
    color: rgb(255, 99, 99);
    border-radius: 10px;
}

.projects-slide::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 0);
}